<div class="container bg-transparent">

        
        <h1 class="text-center">
            Codeial / <%= title %>
        </h1>
        <%- include("feed_post") -%>
         
        <div>
            <h1 class="h3 text-danger">Recently posted</h1>

           <div class="post-items row">

                <% for(post of posts){ %>
                
                <div class="col-lg-4 col-md-6 col-sm-12 border card ">

                    <div class="post card-body h-lg-50 h-sm-100">
                            <div class="post-content card-text h-lg-50 overflow-hidden" style="width: 18rem;">
                                <p><%= post.content %> </p>
                                <% if((locals.user) && (post.user.name==user.name)){  %>
                                      <p class="author text-secondary text-end">written by You</p>
                               <% } else{ %>
                                
                                <p class="author text-secondary text-end">written by <%= post.user.name %></p>
                                <% } %>
                            </div>
                            <!-- include partial -->
                           <%- include("post_comments") -%>
                            <%- include("delete_post") -%>
                           
                    </div>          
                </div>
                <% } %>

                   
            </div>  
        </div> 


                 
        </div>